@import "nav.css";
@import "imgPrincipal.css";
@import "secaoImagens.css";
*{
    margin: 0;
    padding: 0;
}
main{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 50px;
}


